
body {
    background-color: #181818;
    font: normal 15pt serif;
}

header{
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 470px;
    margin: auto;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.315);

}

.botao-personalizado {
    max-width: 40px;
}

.text-box {
    max-width: 100px;
}

select#flista {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    
}

#finalizar {
    display: flex;
    margin-top: -22px;
    margin-left: 10px;
}

/*
#container {
    flex-direction: column;
    display: flex;
}
*/

footer {
    color: white;
    text-align: center;
    font-style: italic;
}