@charset "UTF-8";

body {
    background-color: #E9E6C3;
}

header {
    text-align: center;
    background: linear-gradient(to bottom,#043d1dc0 ,#1a7143da );
    color: white;
}

#links_a_esquerda {
    text-align: left;
    
}

div > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 8px;

}

div > a:hover {
    background-color: rgba(255, 255, 255, 0.432);
}

main {
    background-color: white;
    padding: 1px 20px 1px 20px;
    text-align: justify;
    margin: 1px 100px 1px 100px;
    text-indent: 30px;
}

.h2_div_main {
    text-indent: 0px;
    background: linear-gradient(to right, rgba(13, 173, 13, 0.5)  ,#1a714300);
    
}

#texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}

#primeiros_anos {
    font-weight: bold
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 232px;
    
}
    